include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include racket/*.py
include racket/template/*
include racket/template/serialized/*
include racket/template/serialized/base/*
include racket/template/serialized/base/1/*
include racket/template/serialized/base/1/variables/*

include racket/template/web/*
include racket/template/web/static/*
include racket/template/web/static/css/*
include racket/template/web/static/js/*
recursive-include requirements *.txt

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
